# Core functionality - changes here should be rare!
/src/app.py                   @NguyenChien215
/src/backend/database.py      @NguyenChien215
/src/backend/routers/auth.py  @NguyenChien215

# The frontend will need refactored soon to be more object oriented.
/src/static/   @NguyenChien215
